li.passcase {
    list-style-image: url('/img/greenlight.png');
}

li.failcase {
    list-style-image: url('/img/redlight.png');
}

ul.subresult {
    padding-left: 30px;
}

li.passresult {
    list-style-image: url('/img/greenlight.png');
}

li.passresult span {
    color: black;
}

li.failresult {
    list-style-image: url('/img/redlight.png');
}

li.failresult span {
    color: black;
}
